
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  font-family: 'Varela Round', sans-serif;
}
.container {
  margin: 0 70px;
}

@media  (max-width: 800px) {
  .container{
    margin: 0 40px;
  }
  }

/* Hero section */
.hero{
  background: #FFF6CC;
  height: 100vh;
}
/* NavBar Style */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 90%;
  margin: auto;
}
.nav-logo{
  margin-right: auto;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.nav-toggle{
  cursor: pointer;
  display: none;

}
.nav-link{
  color: #000000;
}


@media screen and (max-width: 768px) {
  .nav-logo{
    z-index: 10;
  }
  .nav-toggle{
    z-index: 10;
    display: block;
  }
  .nav-menu{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    background-color: #FF7B00;
    z-index: -1;
  
  }
}

.nav-active{
  z-index: 1;
  -webkit-animation: showNav 1s ease-in;
}
@keyframes showNav {
  0% {opacity: 0;}
  50%{
    opacity: 0.5;
  }
  70%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}