
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
@font-face {font-family: "VarelaRound"; 
  src: url("//db.onlinewebfonts.com/t/eefe48639a01ef1f065d0373e895e859.eot"); 
  src: url("//db.onlinewebfonts.com/t/eefe48639a01ef1f065d0373e895e859.eot?#iefix") 
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/eefe48639a01ef1f065d0373e895e859.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/eefe48639a01ef1f065d0373e895e859.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/eefe48639a01ef1f065d0373e895e859.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/eefe48639a01ef1f065d0373e895e859.svg#Varela Round") 
  format("svg"); }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
  font-family: "VarelaRound";
}
.container {
  width: 89%;
  margin: auto;
}
/* 
@media  (max-width: 800px) {
  .container{
    margin: 0 40px;
  }
  } */

/* NAVBAR STYLE START */
.nav-container{
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 93%;
  margin: auto;
  border-bottom: 1px solid #ffe478;
}
.nav-logo{
  margin-right: auto;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.nav-toggle{
  cursor: pointer;
  display: none;

}
.nav-link{
  color: #000000;
}


@media (max-width: 768px) {
  .nav-logo{
    z-index: 10;
  }
  .nav-toggle{
    z-index: 10;
    display: block;
  }
  .nav-menu{
    position: absolute;
    top: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    background-color: #FF7B00;
    -webkit-animation: showNav 1s ease-in;
  animation: showNav 0.5s ease-in;
  }
  .nav-false{
    display: none;
  }
}

.nav-active{
  display: flex;

}
@keyframes showNav {
  0% {opacity: 0;}
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}
/* navbar scroll */
.navbar-active{
  filter: drop-shadow(0 -10px 20px rgb(170,170,170));
  border: 0px;
  background-color: #FFF6CC;
}
.navbar-active .navbar{
  border: 0px;
}

/* NAVBAR STYLE ENDS */



/* Hero section */

/* @media  (min-width: 768px){
  .hero-text{
    font-size: 40px;
  }
}
@media  (max-width: 900px){
  .hero-text{
    font-size: 30px;
  }
} */


.view-port{
  background: #FFF6CC;
  height: 100vh;
}
.hero-container{
  background: #FFF6CC;
  height: 100vh;
  padding-top: 60px;
  position: relative;
}
.hero-text{
  margin-top: 30px;
  width: 80%;
  color: #1D1D1B;
  font-size: clamp(35px, 5vw, 50px) ;
}
.hero-h-text{
  color: #FF7B00;
}
.hero-s-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: clamp(14px, 2vw, 16px);
  color: #343A40;
  margin-top: 10px;
  width: 50%;
}
.hero-btn{
  text-align: center;
padding: 8px 20px;
border: 1px solid #FF7B00;
border-radius: 10px;
margin-top: 15px;
margin-right: 22px;
background-color: transparent;
font-weight: 400;
font-size: 14px;
color: #1D1D1B;
}
.hero-btn:hover {
  background-color: #ffe478;
  border: 1px dashed #FF7B00;
  transition: 0.3s ease-in-out;
  
}
.hero-img{
  position: absolute;
  width: 45%;
  right: 50px;
  margin-top: -50px;
}
@media  (max-width: 768px){
  .hero-img{
    display: none;
  }
.hero-s-text{
  width: 80%;
}
} 
