
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: .7320644217vw;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  body {
  font-family: 'Varela Round', sans-serif
}
.container {
  width: 89%;
  margin: auto;
}
.btn-transparent{
  display: inline-block;
  text-align: center;
padding: 8px 20px;
border: 1px solid #FF7B00;
border-radius: 10px;
background-color: transparent;
font-weight: 400;
font-size: 14px;
color: #1D1D1B;
}
.btn-mr{
margin-right: 22px;
}
.btn-transparent:hover {
  background-color: #ffe478;
  border: 1px dashed #FF7B00;
  transition: 0.3s ease-in-out;
}


/* NAVBAR STYLE START */
.nav-container{
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 93%;
  margin: auto;
  border-bottom: 1px solid #ffe478;
}
.nav-logo{
  margin-right: auto;
}
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.nav-toggle{
  cursor: pointer;
  display: none;

}
.nav-link{
  color: #000000;
}


@media (max-width: 768px) {
  .nav-logo{
    z-index: 10;
  }
  .nav-toggle{
    z-index: 10;
    display: block;
  }
  .nav-menu{
    position: absolute;
    top: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    background-color: #FF7B00;
    -webkit-animation: showNav 1s ease-in;
  animation: showNav 0.5s ease-in;
  }
  .nav-false{
    display: none;
  }
}

.nav-active{
  display: flex;

}
@keyframes showNav {
  0% {opacity: 0;}
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}
/* navbar scroll */
.navbar-active{
  filter: drop-shadow(0 -10px 20px rgba(158, 158, 158, 0.699));
  border: 0px;
  background-color: #FFF6CC;
}
.navbar-active .navbar{
  border: 0px;
}


#home{
  background: #FFF6CC;
}
.hero-container{
  padding: 15% 5% 0 5%;
}
@media (max-width: 768px){
  .hero-container{
    padding: 17% 0% 0 0%;
  }
}
.hero-text{
  line-height: 1.3;
  width: 100%;
  max-width: 80%;
  margin-bottom: 4%;
  color: #1D1D1B;
  font-weight: 400;
  font-size: clamp(30px, 5vw, 50px) ;
}
.hero-h-text{
  color: #FF7B00;
}
.sub-hero-flex{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media(max-width: 795px){
  .sub-hero-flex{
    flex-direction: column;
  }
}
.sub-hero{
  display: flex;
}
@media(max-width: 795px){
  .sub-hero{
    margin-bottom: 20px;
  }
}
.sub-hero-dash{
  width: 26px;
  height: 2px;
  margin-top: 12px;
  margin-right: 20px;
  background-color: #FF7B00;
}
.hero-s-text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.3;
  color: #343A40;
  max-width: 374px;
  width: 100%;
  margin-bottom: 35px;

}

.sub-hero-img{
  width: 100%;
  max-width: 374px;
  margin-bottom: 35px;
}
.hero-img{
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* About section---------------------------------------------------------------------------------------- */

#about{
  background: linear-gradient(180deg, #FFF6CC 0%, #FFFCF1 40.1%, #FFFCF1 45.31%);
}
/* .about-container{
  margin-bottom: 40px;
} */
.about-partner{
  display: flex;
align-items: center;
gap: 40px;
justify-content: flex-end;
margin-bottom: 25px;
}
.about-partner-text{
  color: #8f959f;
  font-size: 12px;
  display: flex;
  gap: 10px;
}
.p-logo-flex{
  display: flex;
  gap: 40px;
}
@media (max-width: 1025px){
  .about-partner{
flex-direction: column;
  }
  .p-logo-flex{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(45rem,1fr));
      align-items: center;
      justify-items: center;
      place-items: center;
      width: 100%;
      grid-column-gap: 20px;
      grid-row-gap: 40px;
  }
}

.about-main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 15px;
}

.about-header{
  font-weight: 400;
  font-size: clamp(30px, 5vw, 50px) ;
-webkit-text-stroke: 1px #FF7B00;
-webkit-text-fill-color: transparent;
margin-top: 25px
}
.about-text{
font-weight: 300;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #2b2b2a;
}
.about-btn{
  margin-bottom: 25px;
}
.about-stroke{
  background: 5px rgba(255, 123, 0, 0.25);
  width: 70%;
  height: 5px;
  position: absolute;
 
}
.about-stroke-1{
  left: 0%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.about-stroke-2{
  right: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Team section ------------------------------------------------------------------------------------- */

#team{
  background: #FFFCF1;
}

.team-container{
  padding-top: 30px;
}
.team-container-2{
  display: flex;
  background-color: #FFF6CC;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 4px 13px rgba(183, 178, 174, 0.25);
}
.team{
padding: 3rem 5rem;
border-right: 2px solid rgba(255, 123, 0, 0.25);;
}
.invest{
  padding: 3rem 5rem;
  border-left: 2px solid rgba(255, 123, 0, 0.25);;
}

.team-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.team-header{
  text-align: center;
}
.team-header p{
  font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 12px;
color: #ffbb7b;
}
.team-header h1{
  font-weight: 400;
  font-size: clamp(30px, 4vw, 35px) ;
-webkit-text-stroke: 1px #FF7B00;
-webkit-text-fill-color: transparent;
}
.team-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
font-size: clamp(12px, 4vw, 14px) ;
line-height: 26px;
}

@media (max-width: 768px) {
  .team-container-2{
    flex-direction: column;
    gap: 15px;
  }
  .team{
    border-right: none;
    }
    .invest{
      border-left: none;
    }
}